Django==1.4
PIL==1.1.7
South==0.7.6
#WebOb==1.2.2
#WebTest==1.3.4
#Werkzeug==0.8.3
#django-data-tools==0.1
#django-extensions==0.9
#django-gcframe==1.0
#django-grappelli==2.4.0
#django-guardian==1.0.4
#django-hierarchical-auth==0.1.dev
#django-model-utils==1.1.0
#django-mptt==0.5.2
#django-rulez==0.2.5
#django-selectable==0.5.2
#django-tables2==0.11.0
#django-userena==1.1.2
#django-webtest==1.5.3
#easy-thumbnails==1.1
#echo==0.2
#ipdb==0.7
#ipython==0.13
#pyreadline==2.0-dev1
sorl-thumbnail==11.12
